/* PRIMARY STYLING */
#counseling-widget {
    width: 100%;
    max-width: 90vw;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    margin: 1rem auto;

    color: red;
}


.btn {
	background-color: #13aa52;
	border: 1px solid #13aa52;
	border-radius: 4px !important;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 16px !important;
	font-weight: 400 !important;
	padding: 4px 15px !important;
	text-align: center;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	aspect-ratio: auto !important;
	margin-left: auto;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.btn:disabled {
    opacity: .6;
}
.btn:disabled:hover {
    transform: none;
}
@media screen and (max-width: 768px) {
    .btn {
        margin: 1rem auto 0;
        padding: 10px 30px;
    }
}
/* MAP STYLING */
.map-container {
    width: 100%;
    height: 600px;
}
.map-container #map {
    width: 100%;
    height: 100%;
}

/* LIST STYLING */
.locations {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.locations ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.locations ul li {
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 1rem;

    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-bottom: 1rem;
}
.locations ul li:last-of-type {
    margin: 0;
}
.locations ul li .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.locations ul li h1 {
    margin: 0;
    line-height: 1;
    font-size: 2.5rem !important;
}
.info-container {
    width: 33.3334%;
    min-width: 150px;
    margin: 1rem 0;
}
.info-container p {
    margin: 0;
}
.info-container .label {
    margin: .5rem 0;
    font-weight: bold !important;
}
@media screen and (max-width: 768px) {
    .locations ul li {
        gap: .5rem;
    }
    .locations ul li div {
        width: 100%;
        margin: 0;
    }
    h1, p, a {
        text-align: center;
    }
    a {
        display: block;
        margin-inline: auto;
    }
    .header h1 {
        width: 100%;
    }
}
/* FILTER STYLING */
.filter-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.15rem;
}
.filter-container .input {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 100%;
}
.filter-container .input select {
    margin: .5rem 0;
    font-size: inherit;
    width: 100% !important;
    border-color: #ccc;
    padding: .25rem;
    border-radius: 4px;
}
/* MARKER POPUP STYLING */
.marker-title h1 {
    margin: 0;
    font-size: 2rem !important;
}
.marker-title .marker-info {
    margin-top: .5rem;
}
.marker-title .marker-info-label {
    margin: 0;
    font-size: 105%;
    font-weight: bold;
}
.marker-title p {
    margin: 0;
    margin-top: .5rem;
}